* {
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #1b5e20;
  --primary-color: #2e7d32;
  --accent-color: #ffd54f;
  --text-color: #f1f8e9;
  --secondary-text-color: #c8e6c9;
  --link-color: #81c784;
  --white-background: #ffffff;
}

/* apply to all */
.remove-scroll-bar::-webkit-scrollbar {
  display: none;
}
/* 
.pending {
  color: #ffa500;
} */

.in-progress {
  color: #007bff !important;
}

.completed {
  color: #28a745 !important;
}

.pointer {
  cursor: pointer;
}

.active-effect {
  background-color: rgba(193, 193, 193, 0.3);
}

.hover-gray:hover {
  background-color: rgba(193, 193, 193, 0.3);
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  cursor: pointer;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 10px;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff7eb3, #ff758c);
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #ff758c, #ff4b91);
  box-shadow: 0 0 5px rgba(255, 120, 150, 0.7);
}

.custom-scroll-bar::-webkit-scrollbar-button {
  display: none;
}

.custom-scroll-bar::-webkit-scrollbar-corner {
  background: transparent;
}

#container {
  height: auto;
}

html::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

/* -------------------------------- */

/*add new student page styles*/
.form-control:focus,
.form-select:focus {
  box-shadow: 0 0 0 0.15rem var(--primary-color);
}

.option,
.form-select {
  text-transform: capitalize;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#submit-new-std-info {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-transform: capitalize;
}

#submit-new-std-info:hover {
  background-color: var(--background-color);
}

/* student directory page styles*/
#std-profile-link {
  overflow: hidden;
  display: block;
  max-width: 150px;
  max-height: 150px;
}

#std-profile-img,
#modal-std-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

#edit-table,
#delete-table {
  height: 100%;
  width: 100%;
}

#edt-btn,
#dlt-btn {
  width: 80px;
}

/*ANV*/
#add-violator-main-container {
  height: fit-content;
}

#ANV-table {
  margin-top: 10px;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#name-holder {
  height: 40px;
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  font-size: clamp(1rem, 5vw, 1rem);
}

#violator-form-container {
  height: 35%;
}

#ANV-table-row:hover {
  background-color: rgba(193, 193, 193, 0.2);
}

/* violation log */
#hdm-container {
  cursor: pointer;
}

/*hdm short for the.... one below this. I'm too lazy too type*/
.horizontal-dots-menu {
  display: block;
  background-color: #333;
  height: 5px;
  margin: 4px;
  width: 5px;
  border-radius: 50%;
}

.hdm-menu {
  background-color: var(--white-background);
  position: absolute;
  top: 100%;
  width: 15rem;
  height: fit-content;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), -1px -1px 3px rgba(0, 0, 0, 0.3);
}

.is-shown {
  transition: all 0.2s ease;
  z-index: 999;
  opacity: 1;
  visibility: visible;
}

.VL-marks {
  font-style: italic;
}

#VL-article {
  background-color: #add8e6;
}

#VL-section {
  background-color: #98fb98;
}

#VL-sanction {
  background-color: #fffacd;
}

#VL-tr:hover {
  cursor: pointer;
}

/* dashboard */

#cards-section {
  height: 180px;
  overflow-x: auto;
  display: flex;
  align-items: center;
  gap: 0 1rem;
  position: relative;
  overflow-y: hidden;
}

#cards {
  height: 150px;
  flex: 0 0 300px;
}

#dashboard-main-section {
  height: fit-content;
}

.min-max-sym {
  height: 1px !important;
  width: 15px !important;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform: all 0.2s ease;
}

.chart-toggle-btn {
  height: 19px;
  width: 50px;
}

.chart-toggle-btn.active .min-max-sym:nth-child(2) {
  transform: translate(-7px) rotate(90deg) !important;
  top: 45%;
  width: 14px !important;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%);
}

#charts-section {
  height: 50vh !important;
  transition: all 0.3s ease-in-out;
}

#charts-section.minimize {
  height: 25px !important;
}

#charts-section.minimize * {
  visibility: hidden;
  z-index: -1;
}

#charts-section.minimize .chart-toggle-btn {
  visibility: visible;
  z-index: 1;
}

#charts-section.minimize .chart-toggle-btn * {
  visibility: visible;
  z-index: -1;
}

#progress-tracker {
  height: 50vh !important;
}

#mini-navbar {
  height: 35px !important;
}

#mini-search-bar {
  outline: none;
}

#progress-log {
  height: calc(100% - 40px) !important;
}

#to-do-list-body {
  height: calc(100% - 70px);
}

.add-new-to-do-list {
  height: 40px;
}

.contextmenu {
  height: 100px;
  width: 50%;
  background-color: var(--white-background);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3), -3px -3px 8px rgba(0, 0, 0, 0.3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contextmenu.active {
  display: block !important;
}

.progress-logs-contextmenu {
  height: 150px;
  width: 50%;
  background-color: var(--white-background);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3), -3px -3px 8px rgba(0, 0, 0, 0.3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-logs-contextmenu.active {
  display: block !important;
}

/*registration*/
.reg-container {
  height: 80vh !important;
}

.reg-nav {
  height: fit-content !important;
}

/* --------------------------------------------- */

@media screen and (max-width: 991px) {
  #charts-section {
    height: fit-content !important;
  }

  #doughnut-chart {
    height: 50vh !important;
  }

  #statistic-time-range-section {
    height: 25vh !important;
  }

  #scatter-chart {
    height: 50vh !important;
  }

  #progress-tracker {
    height: 100vh !important;
  }

  #to-do-list-container {
    height: 50% !important;
  }

  #student-progress-log-container {
    height: 50% !important;
  }
}

@media screen and (max-width: 767px) {
  #container {
    margin-top: 40px;
  }

  #std-profile-link {
    margin: 10px 0;
  }

  #reg-lower-section {
    overflow-y: auto;
  }

  #drop-box {
    height: 100%;
    flex: none;
    overflow: auto;
    max-height: 100%;
    max-width: 100%;
  }

  #drop-box.resize {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .hdm-menu {
    right: 0%;
  }
}

@media print {
  body {
    visibility: hidden;
  }

  /* add this to make something printable */
  .printable {
    visibility: visible;
  }
}
