@import "../../bootstraps/node_modules/bootstrap/dist/css/bootstrap.min.css";
:root {
  --background-color: #1b5e20;
  --primary-color: #2e7d32;
  --accent-color: #ffd54f;
  --text-color: #f1f8e9;
  --secondary-text-color: #c8e6c9;
  --link-color: #81c784;
  --white-background: #ffffff;
}

#navbar {
  background-color: var(--primary-color);
}

#navbar-galvan-logo {
  height: 45px;
  width: 45px;
}

#navbar-logo-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.nav-link {
  font-size: 1rem;
  text-transform: capitalize;
  white-space: nowrap;
}

.nav-item {
  border-radius: 10px;
}

.nav .nav-item:hover {
  background-color: var(--background-color);
}

.is-active {
  border-bottom: 2px solid var(--accent-color);
}

#hamb-bar-container {
  position: fixed;
  z-index: 9999;
  height: 40px;
  top: 0;
  right: 0;
}

#hamb-bar-container > #hamb-bar {
  display: block;
  margin: 5px;
  width: 25px;
  height: 3px;
  background-color: #333;
}
