@import "../../bootstraps/node_modules/bootstrap/dist/css/bootstrap.min.css";

:root {
  --background-color: #1b5e20;
  --primary-color: #2e7d32;
  --accent-color: #ffd54f;
  --text-color: #f1f8e9;
  --secondary-text-color: #c8e6c9;
  --link-color: #81c784;
  --white-background: #ffffff;
}

#navbar {
  background-color: var(--background-color);
}

.nav-link {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.nav-item {
  border-radius: 10px;
}

.nav .nav-item:hover {
  background-color: var(--primary-color);
}

.active {
  border-bottom: 2px solid var(--accent-color);
}
