:root {
  --background-color: #1b5e20;
  --primary-color: #2e7d32;
  --accent-color: #ffd54f;
  --text-color: #f1f8e9;
  --secondary-text-color: #c8e6c9;
  --link-color: #81c784;
  --white-background: #ffffff;
}

/* apply to all */
#container {
  height: fit-content;
}

html {
  scroll-behavior: smooth;
}

/*add new student page styles*/
.form-control:focus,
.form-select:focus {
  box-shadow: 0 0 0 0.15rem var(--primary-color);
}

.option,
.form-select {
  text-transform: capitalize;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

#submit-new-std-info {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-transform: capitalize;
}

#submit-new-std-info:hover {
  background-color: var(--background-color);
}

/* student directory page styles*/
#std-profile-link {
  overflow: hidden;
  display: block;
  max-width: 150px;
  max-height: 150px;
}

#std-profile-img,
#modal-std-profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#edt-btn,
#dlt-btn {
  width: 80px;
}

/*ANV*/
#add-violator-main-container {
  height: fit-content;
}

#ANV-table {
  margin-top: 10px;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#name-holder {
  height: 40px;
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  font-size: clamp(1rem, 5vw, 1rem);
}

#violator-form-container {
  height: 35%;
}

#std-id {
  visibility: hidden;
}

/* --------------------------------------------- */

@media screen and (max-width: 767px) {
  #container {
    margin-top: 40px;
  }
  #std-profile-link {
    margin: 10px 0;
  }
}
